@{
    ViewBag.Title = "Liste des contacts";
    int @idPersonnel = 1;
}
@model IEnumerable<Contact>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <p class="list-item list-group-item" id="list-home">Categorie</p>
                <a class="list-group-item list-group-item-action" id="list-Personnels-list" data-toggle="list" href="#list-Personnels"  role="tab" aria-controls="Personnels"></a>
                <a class="list-group-item list-group-item-action" id="list-Professionnels-list" data-toggle="list" href="#list-Professionnels" role="tab" aria-controls="Professionnels">Professionnels</a>
                <a class="list-group-item list-group-item-action" id="list-Autres-list" data-toggle="list" href="#list-Autres" role="tab" aria-controls="Autres">Autres</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"></div>
                <div class="tab-pane fade" id="list-Personnels" role="tabpanel" aria-labelledby="list-Personnels-list">
                    <table>
                        <tr>
                            <td>Nom</td>
                            <td>Prénom</td>
                            <td>Email</td>
                        </tr>
                        @foreach (Contact c in Model)
                        {
                            <tr>
                                <td>@c.LastName</td>
                                <td>@c.FirstName</td>
                                <td>@c.Email</td>
                                <!--<td>-->@*<a href="~/contact/details/@c.Id">Details</a>*@<!--</td>-->
                                <td><a asp-action="Details" asp-controller="Contact" asp-area="" asp-route-id="@c.Id">Details</a></td>

                            </tr>
                        }
                    </table>
                </div>
                <div class="tab-pane fade" id="list-Professionnels" role="tabpanel" aria-labelledby="list-Professionnels-list">...</div>
                <div class="tab-pane fade" id="list-Autres" role="tabpanel" aria-labelledby="list-Autres-list">...</div>
            </div>
        </div>
    </div>
